<script>
  window.addEventListener('load', () => {
    document.body.classList.add('ready');
  });
</script>

<footer class="site-footer">
  <p><a href="https://xspazioxspaziox.github.io/">spazio x</a> /
    <a href="https://www.instagram.com/xspazioxspaziox/" target="_blank">instagram</a> /  
    <a href="https://t.me/xspazioxspaziox" target="_blank">telegram</a> / <a href="https://forms.gle/9TmQBjghcWcK9nEg6" target="_blank">newsletter</a> / 
    <a href="mailto:xspazioxspaziox@gmail.com" target="_blank">contact</a></p>
</footer>

