<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Spazio X</title>

<!-- Favicon -->
<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon" />

<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

<!-- Precarica il CSS principale per evitare il FOUC -->
<link rel="preload" href="./assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="./assets/css/style.css"></noscript>

<!-- CSS -->
<link rel="stylesheet" href="./assets/css/style.css?v=9">

