@font-face {
  font-family: 'xicons';
  src: url('../fonts/xicons.woff2') format('woff2'),
       url('../fonts/xicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="xi-"], [class*=" xi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xi-logox:before {
  content: "\e900";
}
